/* HERO */
.hero {
    padding: 5rem 0 3rem;
}

.hero h1 {
    font-size: 6rem;
    font-weight: 500;
}

.hero h1+p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 2rem;
    max-width: 48.75rem;
}

/* SEARCH */
.search {
    padding-bottom: 3rem;
}

.form-element__input {
    padding: 1rem;
    border: 1px solid var(--main-color);
    width: 100%;
}

.form-element__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.search-input {
    padding-left: 3rem;
}

.search-input__wrapper {
    position: relative;
}

.search-input__icon {
    position: absolute;
    top: 1.25rem;
    left: 1rem;
}

/* CATEGORIES */
.categories__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories__item {
    background-color: transparent;
    flex: 1;
    font-size: 1.25rem;
    padding: 2rem;
    border: 1px solid var(--grey-10);
    border-left: 0;
    border-right: 0;
}

.categories__item.active {
    border-color: var(--main-color);
}

/* PRODUCTS */
.grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.products__button-wrapper {
    text-align: center;
    margin-top: 3rem;
}